<%- include('../partials/header') %>
<h1>HYRULE STAYS</h1>
<p>A TRAVELER'S GUIDE</p>

<p>Stayed somewhere that isn't on this list? Add it <a href="/stays/new">here</a> </p>

<% stays.forEach(function(s) { %>
  <div> <%= s.name%> </div>
  <div>Region: <%= s.region %></div>
  <div><%= s.avgRating %></div>
  <a href="stays/<%=s._id%>">Details</a>
  <div>
    <% if (s.userCreated.equals(req.user._id)) { %>
    <form action="/stays/<%=s._id %>?_method=DELETE" method="POST">
      <button type="submit" id="deletebtn">Delete this entry</button>
    </form>
  <% } %>
  </div>
  
  <br><br>
 <% }) %>

<%- include('../partials/footer') %>