<%- include('../partials/header') %>
<h1 class="title">HYRULE STAYS</h1>
<h3 class="title">A TRAVELER'S GUIDE<h3>

<p>Stayed somewhere that isn't on this list? Add it <a href="/stays/new">here</a> </p>

<div class="container">
<% stays.forEach(function(s) { %>
  <div class="row valign-wrapper">
    <div class="col s6 offset-s3 valign">
      <div class="card-panel">
          <span class="card-title" id="name"> <%= s.name%> </span>
            <div id="region">Region: <%= s.region %></div>
            <div><%= s.avgRating %></div>
            <a href="stays/<%=s._id%>" class="details">Details</a>
            <div>
              <form action="stays/<%=s._id%>/edit" method="GET">
                <button type="submit" <% if (!user) { %> hidden <% } else if (user._id.equals(s.userCreated) == false ) { %> hidden <% } %> >Edit this entry</button>
              </form>
            </div>
            <div>
              <form action="/stays/<%=s._id %>?_method=DELETE" method="POST">
                <button type="submit" id="deletebtn" <% if (!user) { %> hidden <% } else if (user._id.equals(s.userCreated) == false ) { %> hidden <% } %>>Delete this entry</button>
              </form>
            </div>
          </div>
      </div>
    </div>
  <br><br>
 <% }) %>
</div>


<%- include('../partials/footer') %>