<%- include('../partials/header') %>

<h1><%= stay.name %></h1>
<h2><%=stay.region %></h2>
<h2><%=stay.avgRating %></h2>

<h2>Reviews</h2>
<a href="">Stayed here before? Share your experience with fellow travelers!</a>
<%- include('../partials/footer') %>