<%- include('../partials/header') %>

<h1><%= stay.name %></h1>
<h2><%= stay.region %></h2>

<h2>Reviews</h2>
<p>Stayed here before? Share your experience with fellow travelers!</p>

<form id="add-review-form" method="POST"
  action="/stays/<%= stay._id %>/reviews">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="5">5</option>
    <option value="4">4</option>
    <option value="3">3</option>
    <option value="2">2</option>
    <option value="1">1</option>
  </select>
  <input type="submit" value="Add Review">
</form>

<% if (stay.reviews.length) { %>
    <table>
      <thead>
        <tr>
            <th>Date</th>
            <th>Username</th>
            <th>Review</th>
            <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% total = 0 %>
        <% stay.reviews.reverse().forEach(function(r, idx) { %>
          <tr>
            <td><%= r.createdAt.toLocaleDateString() %></td>
            <td><%= r.userName %> </td>
            <td><%= r.content %></td>
            <td><%= r.rating %></td>
            <td><a href="/stays/<%= idx%>">Edit/Delete</a></td>
            <td><form action="/stays/<%= idx %>?_method=DELETE" method="POST">
                    <button type="submit" id="deletebtn">X</button>
                </form>
            </td>
            <% total += r.rating; %>
          </tr>
          <% }); %>
          <tr>
            <td colspan="3"></td>
            <td><strong><%= (total / stay.reviews.length).toFixed(1) %></strong></td>
          </tr>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Reviews Yet</h5>
  <% } %>


<%- include('../partials/footer') %>